*,
::after,
::before {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4f5c;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

button,
input,
textarea {
  font-family: 'Crimson Text', serif
}

button {
  cursor: pointer
}

a {
  color: #4d4f5c;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #2a3b8f
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}

.d-flex {
  display: flex
}

.d-flex-row {
  flex-direction: row
}

.d-flex-col {
  flex-direction: column
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-flex-end {
  justify-content: flex-end
}

.align-items-center {
  align-items: center
}

.text-center {
  text-align: center
}

.mb20 {
  margin-bottom: 20px
}

.cs-row {
  display: flex;
  flex-direction: row;
  width: 100%
}

.margin-left-auto {
  margin-left: auto
}

.cs-auth0-login--header {
  padding: 0 20px
}

.cs-logo {
  text-align: center;
  svg {
    vertical-align: top;
  }
  a {
    display: block
  }
}

.cs-logo a:focus,
.cs-logo a:hover {
  opacity: .8
}

.cs-nav {
  font-size: 0
}

.cs-nav--link {
  color: #4d4f5c;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  padding: 38px 20px;
  transition: color .3s ease;
  &:focus,:hover {
    color: #2a3b8f;
    outline: 0
  }
}

.cs-profile-link {
  position: relative;
  cursor: pointer;
  .cs-user-profile-menu {
    display: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 9999;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    list-style-type: none;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  }
  &:hover > .cs-user-profile-menu {
    display: block;
    width: 100%;
    transition: 0s, 0s, 0.3s;
  }
}

.cs-icon {
  padding-left: 30px;
  svg {
    width: 90px;
    height: 104px
  }
}

.cs-auth0--footer {
  background-color: #2a3b8f;
  color: #fff;
  padding: 30px 0;
  a {
    color: #b7c2ff;
    padding: 4px 0;
    display: inline-block;
    &:hover {
      text-decoration: underline;
      color: #fff
    }
  }
}

.cs-auth0--footer-nav {
  margin-left: auto
}

.icon--instagram {
  height: 20px;
  width: 20px
}

.icon--facebook {
  height: 20px;
  width: 20px
}

.icon--twitter {
  height: 20px;
  width: 20px
}

.cs-auth0--social .icon--facebook,
.cs-auth0--social .icon--instagram,
.cs-auth0--social .icon--twitter {
  fill: #fff
}

.cs-auth0--social a {
  margin-left: 10px
}

.cs-auth0--social a:focus,
.cs-auth0--social a:hover {
  opacity: .7;
  text-decoration: none
}

.cs-auth0--footer-nav-box {
  padding: 0 30px
}

.cs-auth0--footer-nav--list {
  margin: 0;
  padding: 0;
  li {
    list-style: none
  }
}

.cs-auth0--footer-nav--title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 20px
}

.cs-auth0-login--main {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px)
}

@media (min-width:576px) {
  .cs-auth0-login--main {
    display: flex;
    flex-direction: row
  }
}

@media (max-width:991.98px) {
  .cs-icon {
    padding-left: 15px
  }

  .cs-auth0--footer-nav-box {
    padding: 0 15px
  }
}

@media (max-width:767.98px) {
  .cs-icon {
    padding: 0
  }

  .cs-auth0--footer-nav {
    margin: 0
  }

  .cs-nav {
    display: none
  }

  .cs-auth0--footer--social {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .cs-auth0-login--form {
    max-width: 310px;
    padding: 14px
  }

  .cs-logo svg {
    width: 120px
  }
}

@media (min-width:768px) {
  .cs-auth0--footer {
    display: flex;
    align-items: center
  }

  .cs-auth0--footer-nav {
    display: flex
  }

  .cs-auth0--footer--social {
    margin-left: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
}

@media (min-width:1024px) {
  .cs-auth0-login--banner {
    flex: 0 0 70%;
    max-width: 70%
  }

  .cs-auth0-login--section {
    flex: 0 0 30%;
    max-width: 30%
  }
}

.cs-auth0--error {
  display: none;
  color: #ca0000;
  margin-bottom: 20px;
}

.auth0-lock-social-button-icon {
  position: relative;
  width: 16px;
  height: 100%;
  top: 4px;
  /* position: relative; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

@media (min-width:992px) {
  .cs-auth0-login--banner {
    flex: 0 0 60%;
    max-width: 60%
  }

  .cs-auth0-login--section {
    position: relative;
    flex: 0 0 40%;
    max-width: 40%;
    overflow: auto
  }
}